<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <b>USER ID : {{ userUid }}</b>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <b>USER DETAILS</b>
    </div>
    <div class="card-body"
         (collapsed)="collapsed($event)"
         (expanded)="expanded($event)"
         [collapse]="isCollapsed">

      <label><b>First Name:</b> {{ userData.firstname }}</label>
      <br>
      <label><b>Last Name:</b> {{ userData.lastname }}</label>
      <br>
      <label><b>Gender:</b> {{ userData.gender }}</label>
      <br>
      <label><b>Date Of Birth:</b> {{ userData.DOB }}</label>
      <br>
      <label><b>Address:</b> {{ userData.address }}</label>
      <br>
      <label><b>Country:</b> {{ userData.country }}</label>
      <br>
      <label><b>Contact:</b> {{ userData.phone }}</label>
      <br>
      <label><b>Email:</b> {{ userData.email }}</label>
    </div>
    <br>

    <div class="card-header">
      <b>USER MEDICAL DETAILS</b>
    </div>
    <div class="card-body">
      <label><b>Blood Type:</b> {{ userData.medicalDetails.bloodType }}</label>
      <br>
      <label><b>Allergies:</b> {{ userData.medicalDetails.allergies }}</label>
      <br>
      <label><b>Treatment:</b> {{ userData.medicalDetails.treatments }}</label>
      <br>
      <label><b>Health Conditions:</b> {{ userData.medicalDetails.healthCondition }}</label>
    </div>
    <br>

    <div class="card-header">
      <b> CONTACT DETAILS</b>
    </div>
    <div class="card-body">
      <label><b>Name:</b> {{ userData.emergencyDetails.firstname }} {{ userData.emergencyDetails.lastname }}</label>
      <br>
      <label><b>Address:</b> {{ userData.emergencyDetails.address }}</label>
      <br>
      <label><b>Contact:</b> {{ userData.emergencyDetails.phone }}</label>
      <br>
      <label><b>Email:</b> {{ userData.emergencyDetails.email }}</label>
    </div>
    <br>
  </div>
</div>

